body{
	padding-left: 200px;
	
}


.imageContainer{
	background-color: #e5fbff;
	width: 120px;
	height: 120px;
	margin: 3px;

	border-radius: 2px;
	/**
	margin-bottom: 10px;
	margin-top: 10px;
	margin-right: 10px;
	margin-left: 10px;
	**/
}
.imageContainer img{
	width: 0px;
	height: 0px;
}
#boardContainer{
	margin: auto;
	width: 1200px;
	margin-top: 30px;
}

#startButton{
	cursor: pointer;
	font-size: 20px;
	margin-bottom: 5px;
	border : none;
	padding: 10px;
	background-color: #1a53ff;
	border-radius: 6px;
	width: 210px;
	color: white;

}


#startButton:hover{
	background-color: #002db3;
}

/**
#scoreBoard{
	position: absolute;
	top: 40px;
	right: 350px;
	padding: 10px;
	background-color: #e3f5f9;
	width: 210px;
	border-radius: 5px;
	border:1px solid #c8c8c8;
}

**/
/**
#scoreBoardContainer,#scoreBoardHead{
	padding-left: 10px;
}
**/

#listOfBestScore{
	padding-left:  15px;
	margin-top: 3px;
}

#scoreBoardHead{
	position: absolute;
	top: 40px;
	right: 350px;
	padding: 10px;
	background-color: #e3f5f9;
	width: 210px;
	border-radius: 5px;
	border:1px solid #c8c8c8;	
}

#scoreBoardContainer{
	position: absolute;
	top: 170px;
	right: 350px;
	padding: 10px;
	background-color: #e3f5f9;
	width: 200px;
	border-radius: 5px;
	border:1px solid #c8c8c8;
	padding: 15px;
}