#loginContainer{
	position: absolute;
    height: 280px;
    width: 285px;
    margin: -200px 0 0 -200px;
    top: 50%;
    left: 50%;
    background-color: #f2f2f2;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    border-radius: 4px;
    border : 1px solid #c8c8c8;

}

#gameTitle{
	
	text-align: center;
	margin: auto;
	margin-bottom: 15px;

}

#formInstruction {
	color: #77776d;
	text-align: center;
	margin: auto;
	padding-bottom: 5px;
}

#container{
	position: relative;
}

input[type=text], input[type=password]{

	width: 221px;
	padding: 12px 20px;
	display: inline-block;
	
}


input{
	
	margin-bottom:  5px;
	border-radius: 5px;
	right: -199px;
}


#loginButton{
	
	width: 267px;
	padding: 15px 20px;
	border : none;
	cursor: pointer;
	background-color: #adbdc6;
	font-size: 15px;
	margin: auto;
}

#loginButton:hover{
	background-color: #669999;
	align-content: center;
}